<!DOCTYPE HTML>
<html>
<head>
<title>Ortery HTML Guide</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type="text/css">
    body {
        background: #2a649e;
        color: white;
        font-size: 22px;
    }
    #msgBox {
        position: absolute;
        width: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #msgBox > div, h2 {
        text-align: center;
    }
    #msgBox > h2 {
        margin: 10px;
    }
    #msgBox > div {
        margin-top: 3px;
    }
</style>
</head>
<body>
    <div id="msgBox">
        <h2>Sorry!</h2>
        <div>The information on this page has been updated.</div>
        <div>Please contact your local Ortery representative to get the new link.</div>
    </div>
</body>
</html>
